<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LoginPage</title>
  <link rel="stylesheet" href="css/login.css" />
  <script>
    function login() {

      $.ajax({
        type: "POST",
        url: "/login",
        data: { id_give: $('#email').val(), pw_give: $('#pw').val(), nick_give: $('#nick').val()},
        success: function (response) {
          if (response['result'] == 'success') {
            // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
            // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
            //$.cookie('mytoken', response['token']);

            alert('로그인 완료!')
            window.location.href = '/join'
          } else {
            // 로그인이 안되면 에러메시지를 띄웁니다.
            if (response['msg'] == '로그인 정보가 존재하지 않습니다.') { }
            alert(response['msg'])
          }
        }
      })
    });

      window.location.href = 'http://127.0.0.1:5500/templates/index.html'
    }   
  </script>

</head>

<body>
  <div class="wrap">
    <h1>가장 간편한 To Do List</h1>
    <span>Please use your email for registration</span>
    <input type="text" placeholder="NickName" />
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <button onclick="login()">Login</button>
  </div>
</body>

</html>
